@import './partials/_fonts.scss';

.App {
  text-align: center;
  background-color: #c3cbdb;
  height: 100%;
 
  
  
  
}


.footer__main {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  
}




