.btn-login {
    background-color: #222930;
    width: 30%;
    border: none;
    border-radius: .25rem;
    color: white;
    height: 2rem;
    margin-top: 1rem;

}

.email-style {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card-style {
    display:flex;
    flex-direction: column;
    border:none;
    justify-content: center;
    align-items: center;
    background-color: #c3cbdb;
    width: 50%;
}

