@font-face {
    font-family: "Alltheroll";
    src: url('../assets/fonts/Alltherollpersonaluse-DOJE0.otf') format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Guaraldo";
    src: url('../assets/fonts/GuaraldoPersonalUse-lggDe.ttf') format("truetype");
    font-style: normal;
}